
        body {
            font-family: Arial, sans-serif;
             color: #080820;
            background-color: #f8f4b4;
            margin: 20px;
        }
        h1 {
            color: #080820;
        }
        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
        }