
        
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

        body {
            font-family: 'Roboto Mono', monospace;
            color: #080820;
            margin: 10px;
            background-color: linear-gradient(135deg, #134E4A 0%, #059669 50%, #10B981 100%);
            padding: 10px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
            text-indent: 30px;
            
        }

        .destaque{
           color: rgb(59, 8, 8)
        }
        #teste1{
            color: rgb(36, 27, 35);
            border: 5px solid #fcf7bb;
            border-radius: 10px;
            background: #fff789;
            padding: 10px;
        }
        .exemplo-back {
            max-height: 200px;
            max-width: 500px;
            margin: auto;
            padding: 10px;
            background: url('../img/fundopapel.jpg');
            background-size: cover;
            text-align: center;
            border-radius: 10px;
        }
        h1 {
            color:rgb(75, 0, 66);
            letter-spacing: 7px;
            font-family: "Roboto Mono", monospace;
            font-family: 'Caprasimo', cursive;
            font-size: 50px;
            text-align: center;
        }

        .block1 {
            position: sticky;
            z-index: 2;
            width: 1200px;
            height: 600px;
            display:inline-block;
            background: url('../img/peixes.jpg');
            background-size: cover;
            border-radius: 10px;
            border: 3px solid #37ffc0;
        }

        .container-aquario {
            position: relative;
            left:20px;
            top: 25px;
            z-index:3;
            width: 400px;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.7);
            display:inline-block;
            padding: 20px;
            border: #fffbd0 3px solid;
            border-radius: 8px;
        }

        .titulo-block1 {
            position: relative;
            top: -25px;
            z-index: 4;
            text-align: left;
            font-size: 18px;
            color: rgb(36, 27, 35);
            text-shadow: #f4ff90 1px 1px 1px;
        }

        .descricao-block1 {
            position: relative;
            top: -35px;
            z-index: 4;
            text-align: justify;
            font-size: 16px;
            color: rgb(36, 27, 35);
            padding-bottom: 10px;
        }

        .botao {
            margin-left: 33%;
            background: #121612;
            color: rgb(84, 223, 95);
            padding: 5px 10px 8px;
            border-radius: 5px;
            text-decoration: none;
            text-shadow: #e5ff00 0.5px 0.5px 0.5px;
        }
        .botao:hover {
            background: #000000;
            color: white;
        }
        a.button{
            text-decoration: none;
            padding: 5px;
            border-color: #080820;
            border: 2px solid;
            border-radius: 5px;
        }
        a.button:hover {
            background: #080820;
            color: white;
        }
        a.button_menu{
            text-decoration: none;
            color:rgb(36, 27, 35)
        }
        a.button_menu:hover {
            text-decoration: underline;
            color: rgb(126, 0, 111);
        }

        a.button_icone{
            text-decoration: none;
            background-color: rgb(0, 168, 146);
            color: rgb(255, 250, 228);
            padding: 20px;
            border-radius: 40px;
        }
        a.button_icone:hover {
            background-color: rgb(0, 207, 180);
            color: rgb(255, 227, 133);
            text-decoration-line: none;
            border: 3px solid rgb(63, 196, 178);
        }
        a.button_shadow {
            color: rgb(0, 0, 0);
            text-decoration: none;
            background-color: rgb(151, 199, 75);
            padding: 10px;
            box-shadow: 4px 4px 8px rgb(255, 255, 255);
            border-radius: 5px;
        }
        a.button_shadow:hover {
            background-color: rgb(255, 227, 104);

        }

        li{
            display:inline-block;
            margin-right: 30px;
        }

        .menu{
            background-color: rgb(250, 192, 66);
            padding: 25px;
            border-radius: 10px;
            overflow: auto;
            position:sticky;
            top:0;
            z-index: 5;
        }

        .login{
            float: right;
        }
