
        body {
            font-family: Arial, sans-serif;
             color: #080820;
            margin: 10px;
            background-color: #f8f4b4;
            padding : 10px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
            text-indent: 30px;
            
        }

        .destaque{
           color: rgb(59, 8, 8)
        }
        #teste1{
            color: rgb(36, 27, 35);
            border: 5px solid #fcf7bb;
            border-radius: 10px;
            background: #fff789;
            padding: 10px;
        }
        .exemplo-back {
            max-height: 200px;
            max-width: 500px;
            margin: auto;
            padding: 10px;
            background: url('../img/fundopapel.jpg');
            background-size: cover;
            text-align: center;
        }
        h1 {
            color:rgb(75, 0, 66);
            margin-bottom: 80px;
            margin-top: 1px;           
            height: 650px;
            background: url('../img/peixes.jpg');
            background-size: cover;
            background-position: top;
            text-align: center;
            border-radius: 10px;
            padding-top: 50px;
            letter-spacing: 7px;
        }
        .botao {
            margin-left: 33%;
            background: #121612;
            color: rgb(84, 223, 95);
            padding: 5px 10px 8px;
            border-radius: 5px;
            text-decoration: none;
        }
        .botao:hover {
            background: #000000;
            color: white;
        }