
        body {
            font-family: Arial, sans-serif;
             color: #080820;
            background-color: #f8f4b4;
            margin: 20px;
        }
        h1 {
            color: #080820;
        }