
        body {
            font-family: Arial, sans-serif;
             color: #080820;
            margin: 20px;
            background-color: #f8f4b4;
            padding : 15px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
            
        }

        .destaque{
           color: rgb(59, 8, 8)
        }
        #teste1{
            background: rgb(143, 117, 143);
        }
        .exemplo-back {
            height: 300px;
            background: url('../img/fundopapel.jpg');
            background-size: cover;
        }