
        * {
            font-family: Arial, sans-serif;
             color: #080820;
            background-color: #f8f4b4;
            margin: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
        }

        .destaque{
           color: rgb(59, 8, 8)
        }
        #teste1{
            background: rgb(143, 117, 143);
        }