
        
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

       
    body {
            font-family: 'Roboto Mono', monospace;
            color: #080820;
            margin: 10px;
            margin-bottom: 20px;
            background-image: radial-gradient(purple,rgb(231, 110, 130),rgb(255, 70, 70),rgb(252, 143, 70),rgb(74, 223, 74),rgb(168, 83, 168), purple);
            padding-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #28282c;
            text-indent: 30px;
        }

        .backgroundtext {
            background-image: linear-gradient(45deg,#ffe694,#efff94,#a5e7d2,#19d89b 90%);
            min-width: 500px;
            min-height: 300px;
            border-radius: 10px;
            padding: 10px;
        }

        .destaque{
           color: rgb(59, 8, 8)
        }
        #teste1{
            color: rgb(36, 27, 35);
            border: 5px solid #fcf7bb;
            border-radius: 10px;
            background: #fff789;
            min-width: 500px;
            padding: 10px;
        }

        h1 {
            color:rgb(249, 255, 245);
            letter-spacing: 7px;
            font-family: "Roboto Mono", monospace;
            font-family: 'Caprasimo', cursive;
            font-size: 50px;
            text-align: center;
            text-shadow: 5px 5px 3px #0000006b;
        }

        .block1 {
            position: sticky;
            z-index: 2;
            width: 1200px;
            height: 600px;
            display:inline-block;
            background: url('../img/peixes.jpg');
            background-size: cover;
            background-position: bottom;
            border-radius: 10px;
            border: 5px solid #ff0ceb;
            background-color: none;
        }

        .container-aquario {
            position: relative;
            left:20px;
            top: 25px;
            z-index:3;
            width: 400px;
            height: 200px;
            background-color: rgba(255, 255, 255, 0.7);
            display:inline-block;
            padding: 20px;
            border: #fffbd0 3px solid;
            border-radius: 8px;
        }

        .titulo-block1 {
            position: relative;
            top: -25px;
            z-index: 4;
            text-align: left;
            font-size: 18px;
            color: rgb(36, 27, 35);
            text-shadow: #f4ff90 1px 1px 1px;
        }

        .descricao-block1 {
            position: relative;
            top: -35px;
            z-index: 4;
            text-align: justify;
            font-size: 16px;
            color: rgb(36, 27, 35);
            padding-bottom: 10px;
        }



        .botao {
            margin-left: 33%;
            background: #121612;
            color: rgb(84, 223, 95);
            padding: 5px 10px 8px;
            border-radius: 5px;
            text-decoration: none;
            text-shadow: #e5ff00 0.5px 0.5px 0.5px;
        }


        .botao:hover {
            background: #000000;
            color: white;
        }






        
        a.button_menu{
            color: rgb(255, 91, 118);
            background: #232349;
            border-radius: 20px;
            text-decoration: none;
            padding: 5px;

        }

        a.button_menu:hover {
            color: rgb(255, 247, 248);
            background: rgb(255, 91, 118);
            border-radius: 20px;
            text-decoration: none;
            padding: 5px;
        }



        .button_drop {
            position: relative;
            display: inline-block;
        }
        

        .dropdown{
            color: rgb(255, 91, 118);
            background: #232349;
            border: none;
            border-radius: 20px;
            text-decoration: none;
            padding: 5px;
            display: inline-block;
        }

        .drop_content {
            color:#000000;
            display: none;
            position:absolute;
            border-radius: 10px;
            z-index: 101;
            top: 100%;
            background-color: rgb(207, 124, 207);

        }

        .drop_content a {
            color:#00201f;
            display: block;
            text-decoration: none;
            padding: 12px 16px;
        }

        .drop_content a:hover {
            background: #e5e745;
            border-radius: 10px;
        }

        .button_drop:hover .drop_content{
            display: block;
        }

        .button_drop:hover .dropdown{
            color:#efffe9;
        }


        .button_login{
            color:#e5e5fd;
            background-color: #7bb664;
            border-radius: 20px;
            text-decoration: none;
            margin-left: auto;
            position:relative;
            display:inline-block;
            padding: 5px;
        }

        .button_login:hover {
            background: rgb(51, 241, 51);
        }

        .menu{
            display: flex;
            min-width: 550px;
            list-style: none;
            padding: 10px;
            margin: 0;
            align-items: center;
            gap: 30px;
            background-color: rgb(250, 192, 66);
            border-radius: 10px;
            position:sticky;
            top:0;
            z-index: 100;
        }

        .login{
            margin-left:auto;
        }




        a.button_shadow {
            color: rgb(0, 0, 0);
            text-decoration: none;
            background-color: rgb(151, 199, 75);
            padding: 10px;
            box-shadow: 4px 4px 8px rgb(255, 255, 255);
            border-radius: 5px;
            min-width: 20px;
        }
        a.button_shadow:hover {
            background-color: rgb(255, 227, 104);
        }

        .exemplo-back {
            position:relative;
            display:flex;
            min-height: 200px;
            min-width: 500px;
            margin: auto;
            padding: 10px;
            background: url('../img/fundopapel.jpg');
            background-size: cover;
            text-align: center;
            border-radius: 10px;
            
        }

        .card {
            text-align: center;
            display:inline-block;
            width: 210px;
            height: auto;
            padding: 10px;
            background: whitesmoke;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }

        .text_card {
            white-space:nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 15px;
        }

        .card:hover .text_card {
            white-space: normal;
        }

 /* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) 
  

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
@media only screen and (min-width: 600px) {...}

/*Dispostivos Médios (Tablets deitados, 768px para cima) */
@media only screen and (min-width: 768px) {...}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {...}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {...}







